<% content_for :page_title do %>
 <%= "Sale Price Models" %>
<% end %>

<% content_for :page_actions do %>
 <%= button_link_to Spree.t(:new_sale_price_model), new_object_url, class: "btn-success", icon: 'add', id: 'admin_new_sale_price_model_link' %>
<% end %>

<% if @sale_price_models.any? %>
 <div id="list-sale-price-models" data-hook>
   <%= render 'list' %>
 </div>
<% else %>
 <div class="alert alert-info no-objects-found">
   <%= Spree.t(:no_resource_found, resource: "sale Price Models") %>,
   <%= link_to Spree.t(:add_one), new_object_url %>!
 </div>
<% end %>